html body{
    margin:0;
    padding: 0;
}
.header{
    grid-area: header;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(203, 240, 240);
    height:114px;
    /* top is 7 em */
}
.main{
    grid-area: main;
    /* background-color: rgb(184, 234, 238); */
}
.grid-container{
    display:grid;
    grid-template-areas: 'header header header'
                          'left main right';
    grid-template-columns: 144px auto 144px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
.nav-header{
    text-align:center;
    font-family:'Comfortaa', cursive;
    font-size:30px;
    font-weight:bold;
    margin-top: 18px;
    margin-bottom: 12px;
    padding: 0;
}
.nav-button{
    background-color:white;
    border: 2px solid rgb(90, 87, 87);
    border-radius: 6px;
    color: black;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 4px 4px;
    margin-bottom: 18px;
    margin-top: 0;
    text-decoration:none;
}
.nav-button:hover{
    background-color: rgb(90, 87, 87);
    color: white;
    transition: 350ms ease;
}
.button{
    background-color: rgb(231, 240, 240);
    border:none;
    width:25px;
    height:25px;
    text-align: center;
    text-decoration: none;
    font-size:20px;
    border-radius:50%;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(160, 153, 153);
    color: whitesmoke;
    transition: 350ms ease;
    
}

.code{
    grid-area: code;
}
.code-container{
    display:grid;
    grid-template-areas: 'dummy1 code dummy2';
    grid-template-columns: 100px auto 100px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}